<div class="header">
        <h1 style="text-align: center;">About Us</h1>
</div>
<div class="aboutme">
    <div class="image">
    </div>
    <div class="about">
      <h4>Who Am I</h4>
      <p>My name is AJAY YADAV and basically I am from jharkhand, I have done graduation in BCA
          from Vinoba Bhave University Hazaribagh.Currently am staying in bangalore and here I completed
          full stack web development training from SDLC training institute, marathalli(bangalore).Now
         I am looking a job where i could be able to use my skill for the development of company and myself.
      </p>
      <h4>How I am Different</h4>
      <p>
        A Creative and pationate Entry-level web Developer with good problem solving skills.
        Proficient in HTML,CSS,javascript,angular,nodejs,expressjs and mongoDB.Pationate about 
        implementing and launching new projects.Ability to translate business requirement into technical solutions.
        Looking to start the career as an entry-level Web Developer with the reuted company.
    </p>
        <div class="button">
                <button class="btn btn-outline-primary w-25" [routerLink]="['/blog']">Read Blog</button>
                <button class="btn btn-outline-primary" [routerLink]="['/contact']">Contact me</button>
            </div>
    </div>
    
</div>