.navbar-brand{
    font-weight: bold;
    color: royalblue;
    position: relative;
    font-size: 30px;
    cursor: pointer;
}
.navbar-brand:hover{
color: orangered;
}
.highlight{
    background-color: rgb(215, 215, 228);
    font-weight: bold;
}
nav li a{
  
    padding-left: 30px;
    padding-right: 30px;
}
nav li a:hover{
    color: orangered;
}
// .navbar{
//     background: black;
// }














    