<div class="sticky">
  <a href="https://www.facebook.com/TechAjay9523/"><button class="effect" id="facebook"><i class="fa fa-facebook"></i></button></a>
    <button class="effect" id="twitter"><i class="fa fa-twitter"></i></button>
    <button class="effect" id="youtube"><i class="fa fa-youtube"></i></button>
    <button class="effect" id="google"><i class="fa fa-google"></i></button>
    <a href="https://www.linkedin.com/in/ajay-yadav-41a5711a8/"><button class="effect" id="linkedin"><i class="fa fa-linkedin"></i></button></a>
</div>