<h2 style="text-align: center;">Project 1</h2>
<hr>
<div class="project1">
<div class="blog">
  <img src="../../../../assets/images/ajayblog.bmp" alt="" width="400px" height="300px">
</div>
<div class="portfolio">
  <img src="../../../../assets/images/portfolio.bmp" alt="" width="400px" height="300px">
</div>
</div>
<br><br>
<div class="container project">
    <h2 style="text-align: center;">Project 2(Graphic design)</h2><hr>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/images/p5.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">project 1</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/images/p1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">project 2
                    </p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/images/p2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">project 3</p>
                </div>
              </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/images/p3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">project 4</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/images/p6.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">project 5</p>
                </div>
              </div>
        </div>
        <div class="col"></div>
    </div>
</div>