<div class="row">
  <div class="col">
    <h2 style="text-align: center;">Technical Skills</h2><hr>
  </div>
  <div class="col">
    <h2 style="text-align: center;">Designing Skills</h2><hr>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col">
        <h4>Operating System</h4>
        <p>Windows 7 , Windows 10</p>

        <h4>Web Technologies</h4>
        <p>HTML,CSS,Javascript,Bootstrap</p>

        <h4>Front-end Framework</h4>
        <p>Angular</p>

        <h4>Back-end</h4>
        <p>Nodejs,ExpressJs</p>

        <h4>Database</h4>
        <p>MongoDB</p>

        <h4>CMS</h4>
        <p>WordPress</p>
      </div>
      <div class="col">
        <img src="../../../../assets/images/laptop.png" width="300px" height="300px" alt="">
      </div>
      <div class="col">
      <h4>Adobe Photoshop</h4>
      <h4>Adobe Illustrator</h4>
      <h4>Adobe premiere pro</h4>
      </div>
    </div>
  </div>

  