<div class="header">
   <div class="row">
        <div class="col-6">
            <div class="left-side">
                <h3 class="myname" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Hi, I AM AJAY YADAV</h3>
                <h2 style="color: blueviolet;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                    A Full Stack Web Developer</h2>
                <p style="font-family: cursive; font-size: larger;line-height: 33px;">
                    A Creative and pationate Entry-level web Developer with good problem solving skills.
                    Proficient in HTML,CSS,javascript,angular,nodejs,expressjs and mongoDB.
                    Pationate about implementing and launching new projects.
                    Ability to translate business requirement into technical solutions.
                    Looking to start the career as an entry-level Web Developer with the reuted company.
                </p>
                <div class="row">
                    <div class="col">
                        <a href="../../../assets/images/Resume.pdf" download="download">
                            <button class="btn btn-outline-danger">Download Resume</button>
                        </a>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-success"><i class="fa fa-phone"></i>+91 6204013196</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="right-side">
                <img src="../../../assets/images/pic.jpg" alt="" width="400px" height="400px" class="image">
            </div>
        </div>
    </div>
</div><br><br><br>
       <app-myskill></app-myskill>
       <app-projects></app-projects>
      
        <app-footer></app-footer>
       
    
    









 